<header id="header">
  <div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">


      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li>
            <a href="https://www.linkedin.com/in/daniel-su-052a06141/">LinkedIn</a>
          </li>


          <li>
            <a href="https://github.com/danielsuhang">Github</a>
          </li>


          <li>
            <a href="https://devpost.com/DanielSu">Devpost</a>
          </li>


          <li>
            <a href="https://www.youtube.com/channel/UCx94ksNYTyzB_tF9ai8BQYg">Youtube Channel</a>
          </li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </div>
</header>
<!-- #header -->
<!-- start banner Area -->


<section class="banner-area">
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-between">
      <div class="col-lg-6 col-md-6 banner-left">
        <h1>Daniel Su</h1>


        <p>I'm a <b>Full Stack Software Engineer</b> at the University of North Carolina pursing my Masters in Computer
          Science.</p>


        <h4>Mission Statement</h4>


        <p style="margin-top: 0">My mission is to be an instrument of <b>positive change</b> in all roles personal and
          professional roles through <b>proactive mindfulness</b> in my actions.
          <!-- To achieve this, I need to be a continuous paragon of integrity, honesty, humility, and kindness, motivated purely by an intrinsic desire to be a good person rather than for manipulative or shallow purposes. 
              I will need to demonstrate positive change in my own life before acting as a catalyst for improvement in others. 
              In order to focus on improvement, I need to consistently exercise proactive mindfulness, having a firm purpose and goal in mind for all activities in my life. I will participate in all aspects of my life with genuine purpose, energy, and optimism. When faced with negative emotions or abuse, I will never react to them by passing it off to others. Furthermore, when inevitable difficulties occur, I will take extra effort to remember to express gratitude for friends and family I have in my life.
        -->
        </p>
        <a class="primary-btn text-uppercase" href="../../assets/resume/resume.pdf">Download Resume</a>
      </div>


      <div class="col-lg-6 col-md-6 banner-right d-flex align-self-end">
        <div class="holder"><img alt="" class="img-fluid rounded-circle" id="profile_pic"
            src="assets/img/Profile_Picture.jpg" style="min-width: 90%">
        </div>
        <img alt="" class="img-fluid rounded-circle" id="smaller_profile_pic"
          src="assets/img/Profile_Picture_smaller.jpg">
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->
<!-- Start services Area 
"section-gap used to put gap above box"
-->


<section class="services-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content col-lg-7">
        <div class="title text-center">
          <h1 class="mb-10">My Active Roles</h1>


          <p style="margin-bottom: 0">Learn more about some of the activities and roles I'm currently part of right now!
          </p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <!-- Icons imported linear icons -->
          <span class="lnr lnr-laptop-phone"></span> <a href="#">
            <h4>Software Engineer</h4>
          </a>

          <p>Incoming Software Engineer Intern at Facebook</p>


          <p>Former Software Engineer Intern at Capital One and Manhattan Associates.</p>
        </div>
      </div>


      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <span class="lnr lnr-users"></span>

          <h4>Graduate Teaching Assistant</h4>


          <p>BioAlgorithms (Comp 555) Graduate Teaching Assistant under Professor McMillian.</p>


          <p>Responsible for creating/grading problem sets, and hosting Office Hours</p>
        </div>
      </div>


      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <span class="lnr lnr-graduation-hat"></span>

          <h4>Research Assistant</h4>


          <p>Enabling Technologies Research under Professor Bishop to create a Text Simplification web application using
            Natural Language Processing.</p>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md-6">
      <div class="single-services">
        <span class="lnr lnr-tablet"></span>

        <h4>Apps Interface</h4>


        <p>Do you sometimes have the feeling that you’re running into the same obstacles over and over again? Many of my
          conflicts.</p>
      </div>
    </div>
  </div>
</section>
<!-- End services Area -->


<section class="recent-blog-area section-gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 pb-30 header-text">
        <h1>Latest Videos Created</h1>


        <p>As part of my effort to give back to the Computer Science community, video tutorial content creation,
          specically on Data Structure and Algorithm questions, has become a really enjoyable side project.</p>
      </div>
    </div>
  </div>


  <div class="frame" style="padding-left: 4%">
    <div style="padding-left: 4%">

      <h3 style="max-width: 350px;">Longest Substring Without Repeating Characters</h3>
      <br />
      <iframe allowfullscreen frameborder="0" height="300" src="https://www.youtube.com/embed/mtHelVTLKRQ"
        width="350"></iframe>
    </div>
    <br>
    <div style="padding-left: 4%">
      <h3 style="max-width: 350px">Longest Substring Without Repeating Characters</h3>
      <br />
      <iframe allowfullscreen frameborder="0" height="300" src="https://www.youtube.com/embed/9odu9ImG9oY"
        style="padding-left: 4%" width="350"></iframe>
    </div>
  </div>
</section>
<!-- end recent-blog Area -->



<!-- Start Quotes Section Area -->


<section class="testimonial-area">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Some of my Favorite Quotes for Inspiration</h1>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="active-testimonial">
        <div class="single-testimonial item d-flex flex-row">
          <div class="thumb"><img alt="" class="img-fluid" src="assets/img/dijkstra.jpg">
          </div>


          <div class="desc">
            <p>“If debugging is the process of removing software bugs, then programming must be the process of putting
              them in.”</p>


            <h4>Edsger Dijkstra</h4>
          </div>
        </div>


        <div class="single-testimonial item d-flex flex-row">
          <div class="thumb"><img alt="" class="img-fluid" src="assets/img/gates.png">
          </div>


          <div class="desc">
            <p>"If you can't make it good, at least make it look good.""</p>


            <h4>Bill Gates</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Quotes Section -->